.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: #F25430;
  color: white;
}

img {
  width: 10%;
  height: 100%;
}

nav button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #ff9929;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

nav button:hover {
  background-color: #094545;
}
